body {
  background-color: #5a5a5a;
  overflow: hidden;
}
.ui-button {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  border: 0px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.ui-button:hover {

}

.ui-button-down {
  box-shadow: none !important;
  transform: scale(0.99);
  font-weight: bold;
  color: gold;
}

.ctrl-panel {
  position: relative;
  margin: 140px auto;
}

.ctrl-dir {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.ctrl-speed {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px auto;
}

.ctrl-dir button {
  position: absolute;
}


.ctrl-dir .fore {
  left: 75px;
  top: 0px;
}

.ctrl-dir .back {
  left: 75px;
  bottom: 0px;
}

.ctrl-dir .left {
  left: 0px;
  top: 75px;
}

.ctrl-dir .right {
  right: 0px;
  top: 75px;
}

.ctrl-dir .stop {
  left: 75px;
  top: 75px;
}
